<div class="users">
    <h2 class="user-list-heading">Store Users</h2>
    <div>
      <!-- material design input text field -->
      <mat-form-field class="">
        <mat-label>Search User(s)</mat-label>
        <input matInput placeholder="e.g. David" [(ngModel)]="search" (ngModelChange)="searchUsers($event)"  >
      </mat-form-field>
    </div>
    <!-- show on large tablets and laptops or computers -->
    <div class="hide-on-med-and-down" >
      <table  mat-elevation-z4  matSort  (matSortChange)="sortUsers($event)">
        <tbody>
          <!-- table headers -->
            <tr  class="blue darken-3">
                <th mat-sort-header="id">Id</th>
                <th mat-sort-header="firstname">First Name</th>
                <th mat-sort-header="lastname">Last Name</th>
                <th mat-sort-header="email">Email</th>
                <th mat-sort-header="username">Username</th>
                <th mat-sort-header="role">Role</th>
              </tr>
            
              @for(user of users;track user.id){
         <!-- table data -->
                <tr  class="blue user-item"  *ngIf="!user.admin">
                  <td class="center-align">{{ user.id }}.</td>
                  <td>{{user.name.firstname|capitalLetter}}</td>
                  <td>{{user.name.lastname|capitalLetter}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.admin?"Admin":"User"}}</td>
                </tr>
              }
        </tbody>
      </table>
    </div>

    <!-- show on small tablets and mobile phones -->
    <div class="user-list show-on-medium-and-down hide-on-med-and-up">
    @for(user of users;track user.id){
      <!-- list of users -->
      <div *ngIf="!user.admin" class="user-container">
        <p class="user-name">  {{user.id-1}}. {{user.name.firstname|capitalLetter}}  {{user.name.lastname|capitalLetter}}</p>
        <div  class="user-item">
            <p class="user-name detail"><b>Username</b>: {{user.username}}</p>
            <p class="user-email detail"><b>Email</b>: {{user.email}}</p>
            <p class="user-number detail"><b>Role</b>: {{user.admin?"Admin":"User"}}</p>
        </div>
      </div>
    }
    </div>
    
</div>
