<div class="login">
    <!-- login header logo -->
    <span><i class="large material-icons blue-text">shopping_basket</i></span>
    <h3 class="center-align header">FakeStore Management System</h3>
    <!-- form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Material Input field -->
        <mat-form-field class="w-100">
            <mat-label>Username</mat-label>
            <!-- username input field -->
            <input matInput [class.ng-invalid]="loginForm.get('username')?.touched" type="text" id="username"
                [errorStateMatcher]="matcher" formControlName="username" placeholder="username">
            <!-- validation required error -->
            <mat-error class="red-text text-darken-1" *ngIf="loginForm.get('username')?.errors?.['required'] ">username
                is required</mat-error>

        </mat-form-field>

        <!-- Material Input field -->
        <mat-form-field class="w-100 ">
            <mat-label>Password</mat-label>
            <!-- password input field -->
            <input matInput [class.ng-invalid]="loginForm.get('password')?.touched" type="password" id="password"
                [errorStateMatcher]="matcher" formControlName="password" placeholder="your password">
            <!-- validation required error -->
            <mat-error class="red-text text-darken-1" *ngIf="loginForm.get('password')?.errors?.['required'] ">password
                is required</mat-error>

        </mat-form-field>

        <!-- if error while login show -->
        <div *ngIf="error" class="red-text">{{error}}</div>

        <!-- login button -->
        <button mat-fab class="btnLogin blue" [disabled]="!loginForm.valid" type="submit" id="submit">
            Login
        </button>


    </form>

</div>