<!-- admi user header -->
<div class="nav-header">
    <mat-icon [class.sizeup]="collapsed()" matListItemIcon> account_circle</mat-icon>
    <h3 *ngIf="collapsed()">Name : {{user_name|capitalLetter}} {{user_surname|capitalLetter}}</h3>
    <p *ngIf="collapsed()">Position: Admin</p>
</div>
<!-- material design list -->
<mat-nav-list>
    <!-- for loop anchor links/material list items -->
    <a *ngFor="let item of menuItems()" class="item-link" 
        mat-list-item  routerLinkActive="active" 
        #rla="routerLinkActive" [routerLink]="item.route">
        <mat-icon [class.white-text]="rla.isActive"  matListItemIcon>{{item.icon}}</mat-icon>
        <span *ngIf="collapsed()">{{item.label}}</span>
    </a>
</mat-nav-list>


  